<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li class='dropdown'>
      <a data-target="#" class='dropdown-toggle' data-toggle='dropdown'>Sites <span class='caret'></span></a>
      <ul class='dropdown-menu'>
        <li ng-repeat='site in sites' role='presentation'>
        <a>{{ site }} <span data-target='#' ng-click='removeSite(site)' class='glyphicon glyphicon-remove'></span></a>
        </li>
      </ul>
    </li>
  </ul>
  <h3 class="text-muted">news</h3>
</div>

<div class="jumbotron">
  <h1>Getting the News!</h1>
  <li ng-repeat='site in sites'>
    {{ site }} <a href='' ng-click='removeSite(site)' class='glyphicon glyphicon-remove'></a>
  </li>
  <div class='row'>
    <div class="">
      <div class="input-group">
        <input type="text" class="form-control" placeholder='new RSS xml file' ng-model='newSite'>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click='addSite()'>Add</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
</div>

<div class="row marketing">
  <div ng-repeat='site in news'>
    <h3><a ng-href='{{site.meta.link}}'>{{ site.meta.title }}</a></h3>
    <div ng-repeat='article in site.articles'>
      <h4><a ng-href='{{article.link}}'>{{ article.title }}</a></h4>
      <p>
        {{ article.summary }}
      </p>
    </div>
  </div>
 </div>

<div class="footer">
  <p>Just testing</p>
</div>
